body {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
}

header {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* verticalité- horizontal */
    padding: 0 50px;
}

ul {
    display: flex;
    align-items: center;
}

ul a {
    padding: 10px;
    margin: 10px;
}

button {
    border: none;
    background-color: #fb2056;
    padding: 16px 40px;
    border-radius: 30px;

}