@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav a {
    /* enlevéla surligne */
    text-decoration: none;
    color: #fff;
    /* aligner le texte */
    text-align: center;
}

ul {
    /* mettre les boites en ligne */
    display: flex;
    /* aligne les meme boites */
    align-items: center;
    /* remplace margin et padding */
    gap: 20px;
    font-family: 'Noto Sans'
}

nav {
    display: flex;
    align-items: center;
    /* mettre un ecart entre les mots */
    justify-content: space-between;
    margin: 0 17%;
}

button {
    /* pour le bouton */
    border: none;
    background-color: #fb2056;
    padding: 16px 40px;
    width: 172px;
    height: 46px;
    border-radius: 30px;
}

header {
    background-image: url(/images/fond-page4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.filter {
    background: rgba(0, 0, 0, 0.336);
    height: 100vh;
    text-align: center;
}

button:hover {
    background-color: rgb(91, 29, 179);
}

h1 {
    color: #fff;
    font-size: 64px;
    text-align: center;
}

.titre {
    font-family: 'Montserrat Alternates';
    padding-top: 300px;
}
.water{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
}
span{
    color: #fb2056;
}
.winter{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px; 
}
.camping{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;  
}
footer {
    background-color: black;
    font-family: 'Noto Sans';
    margin-top: 100px;
    padding: 40px;
    padding-bottom: 40px;
    text-align: center;
}
h2{
    font-family:'Montserrat Alternates' ;
    font-size: 34px;
}
h3{
    font-family:'Noto Sans';
}
p{
    font-family:'Noto Sans'; 
}