@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav a {
    /* enlevéla surligne */
    text-decoration: none;
    color: #fff;
    /* aligner le texte */
    text-align: center;
}

.logo {
    width: 20%;
}

ul {
    /* mettre les boites en ligne */
    display: flex;
    /* aligne les meme boites */
    align-items: center;
    /* remplace margin et padding */
    gap: 20px;
    font-family: 'Noto Sans'
}

nav {
    width: 80%;
    display: flex;
    align-items: center;
    /* mettre un ecart entre les mots */
    justify-content: space-between;
}

button {
    /* pour le bouton */
    border: none;
    background-color: #fb2056;
    padding: 1px 40px;
    width: 172px;
    height: 46px;
    border-radius: 30px;
}

header {
    background-image: url(/images/fond-ecran-page2.jpg);
    background-position: center;
    background-size: cover;

}

.filter {
    /* changement de l opacité */
    background: rgba(0, 0, 0, 0.336);
    height: 100vh;
    text-align: center;
}

button:hover {
    background-color: rgb(91, 29, 179);
}

h1 {
    color: #fff;
    font-size: 64px;
    text-align: center;
}

h2 {

    font-family: "Montserrat", sans-serif;
}

p {
    font-family: 'Noto Sans';
}

.titre {
    font-family: "Montserrat", sans-serif;
    padding-top: 3em;
}

.milieu {
    display: flex;
    padding: 3rem;
    background-color: #fff;
    justify-content: space-around;
    gap: 2rem;
}

.mission {
    justify-content: flex-start;
    width: 45%;

}

.chute img {
    margin-top: 2em;
    width: 90%;
}

.chute {
    width: 50%;
}

span {
    color: red;
}

footer {
    background-color: black;
    font-family: 'Noto Sans';
    margin-top: 100px;
    padding: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.texte {
    display: flex;
    text-align: left;
    justify-content: space-around;
    padding: 3rem;
    gap: 2rem;

}

.extra {
    width: 45%;
}

.our {
    width: 45%;
}

@media (max-width: 768px) {
    nav {
        align-items: flex-start;
        flex-direction: row;

    }


    nav ul {
        width: 100%;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul a button {
        width: 100%;
        text-align: center;
    }

    .logo {
        margin-top: 20px;
        margin-left: 2rem;
    }
}

@media (max-width:480px) {
    .filter nav {
        flex-direction: column;
        align-items: flex-start;
    }

    ul {
        gap: 10px;
    }

    .titre {
        padding-top: 0;
    }

    .logo {
        margin-left: 180px;
    }

    .upcoming1 {
        text-align: start;
    }

    .tours {
        flex-direction: column;
        align-items: center;
    }
    .chute img{
        margin-top: 10em;
        width: 100%;
    }
}