@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav a {
    /* enlevéla surligne */
    text-decoration: none;
    color: #fff;
    /* aligner le texte */
    text-align: center;
}
h2{
font-family: "Montserrat", sans-serif;
}
h3{
font-family: "Montserrat", sans-serif;
}

.logo {
    width: 20%;
}


ul {
    /* mettre les boites en ligne */
    display: flex;
    /* aligne les meme boites */
    align-items: center;
    /* remplace margin et padding */
    gap: 20px;
    font-family: 'Noto Sans'
}

nav {
    width: 80%;
    display: flex;
    align-items: center;
    /* mettre un ecart entre les mots */
    justify-content: space-between;
}

button {
    /* pour le bouton */
    border: none;
    background-color: #fb2056;
    padding: 16px 40px;
    width: 172px;
    height: 46px;
    border-radius: 30px;
}

header {
    background-image: url(/images/fond-page3.jpg);
    background-position: center;
    background-size: cover;
}

.filter {
    background: rgba(0, 0, 0, 0.336);
    height: 100vh;
    text-align: center;
}

button:hover {
    background-color: rgb(91, 29, 179);
}

h1 {
font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 64px;
    text-align: center;
}

.titre {
    font-family: 'Montserrat Alternates';
    padding-top: 3em;
}

.start {
    margin-top: 100px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

span {
    color: #fb2056;
}

.premiere {

    display: flex;
    padding: 2rem;
    background-color: #fff;
    justify-content: space-around;
    text-align: center;
    gap: 2rem;
}

.premiere img {
    width: 80%;
}

.seconde {
    display: flex;
    padding: 2rem;
    background-color: #fff;
    justify-content: space-around;
    text-align: center;
    gap: 2rem;

}

.seconde img {
    width: 80%;
}

footer {
    background-color: black;
    font-family: 'Noto Sans';
    margin-top: 100px;
    padding: 40px;
    padding-bottom: 40px;
    text-align: center;
}

p {
    font-family: 'Noto Sans';
}

h3 h2 {
    font-family: 'Montserrat Alternates';
}

.troisieme {
    display: flex;
    text-align: left;
    justify-content: space-around;
    padding: 3rem;
    gap: 2rem;
}

.why {
    width: 45%;
}

.what {
    width: 45%;
}
@media (max-width: 768px) {
    nav {
        align-items: flex-start;
        flex-direction: row;
        /* box-sizing: border-box; */

    }


    nav ul {
        width: 100%;
        /* flex-direction: column; */
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul a button {
        width: 100%;
        text-align: center;
    }
    .logo{
        margin-top:20px;
        margin-left: 2rem;
     }
    }