@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.logo {
    margin-right: 200px;
    margin-left: -100px;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Noto Sans'
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 17%;
    gap: 5rem;
}

button {
    border: none;
    background-color: #fb2056;
    padding: 16px 40px;
    width: 172px;
    height: 46px;
    border-radius: 30px;
}

header {
    background-image: url(/images/photo-haut-page5.jpg);
    background-position: center;
    background-size: cover;
}

.filter {
    background: rgba(0, 0, 0, 0.336);
    height: 100vh;
    text-align: center;
}

button:hover {
    background-color: rgb(91, 29, 179);
}

h1 {
font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 64px;
    text-align: center;
}

.titre {
    font-family: 'Montserrat', sans-serif;
    padding-top: 200px;
}

/* formulaire */

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 70px;
}

.formulaire {
    width: 400px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}
h3{
font-family: "Montserrat", sans-serif;
}

h2 {
font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
}

.form {
    margin-bottom: 20px;

}

label {
    display: block;
    margin-bottom: 5px;
}

/* texte */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

/* / **infos de contact**/
.info-container {
    margin-top: 100px;
}

.info-container p {
    margin-top: 10px;
    margin-bottom: 17px;
}

/* **icone réseaux**/
.reseaux {
    display: flex;
    padding: 0 15px;
    font-size: 1.3em;
    color: rgb(192, 15, 9);
}


.reseaux a {
    margin-right: 10px;
    color: rgb(245, 64, 64);
    margin-top: 10px;
}

.reseaux a:last-child {
    /* Aucun espacement après la dernière icône */
    margin-right: 0;

}

footer {
    background-color: black;
    font-family: 'Noto Sans';
    margin-top: 100px;
    padding: 40px;
    padding-bottom: 40px;
    text-align: center;
}